*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    /* Fonts */
    --font-body: "Roboto", sans-serif;
    --font-heading: "Roboto", sans-serif;

    /* Colors */
    --kabbs-purple: #312979;
    --kabbs-blue: #0b69b8;
    --kabbs-blue-light: #1da9e7;
    --kabbs-green: #c0cdad;
    --kabbs-grey: #848c94;
    --kabbs-black: #0e1d2d;
    --kabbs-white: white;

    /* Spacings */
    --space-xs: 0.25rem;
    --space-sm: 0.5rem;
    --space-md: 1rem;
    --space-lg: 2rem;
    --space-xl: 4rem;

    /* Radius */
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 16px;

    /* Breakpoint */
    --bp-sm: 480px;
    --bp-md: 768px;
    --bp-lg: 1024px;
    --bp-xl: 1280px;

    /* Shadows */
    --shadow-sm: 0 1px 3px rgba(0,0,0,0.12);
    --shadow-md: 0 4px 6px rgba(0,0,0,0.16);
    --shadow-lg: 0 10px 20px rgba(0,0,0,0.19);

}

html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

body {
    font-family: var(--font-body);
    line-height: 1.5;
    color: var(--kabbs-black);
    background: var(--kabbs-white);
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h {
    font-family: var(--font-heading);
}

/* Media */

img, video {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Links */
a {
    color: var(--kabbs-purple);
    text-decoration: none;
}

a:hover {
    color: var(--kabbs-blue-light);
}

/* Buttons */

button {
    font: inherit;
    border: none;
    border-radius: var(--radius-md);
    padding: var(--space-sm) var(--space-md);
    cursor: pointer;
}

/* Layout */

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 var(--space-md);
}

.text-center {
    text-align: center;
}

.mt-lg {
    margin-top: var(--space-lg);
}